@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  min-width: 600px;
  min-height: 950px;
}

.container {
  width: 700px;
  margin: auto;
  min-height: 800px;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #d2691e;
  border-top: none;
}

.background-style {
  background-image: url(images/pubg-pic.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 460px;
  min-height: 950px;
  overflow-x: scroll;
}

.contents-nav {
  width: 550px;
  height: 700px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 50px;
}

.contents-nav img {
  width: 550px;
  height: 130px;
  margin-bottom: 50px;
}

.title {
  margin: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  width: 300px;
}

.title img {
  width: 300px;
  height: 100px;
}


.er-box {
  position: relative;
}

.er-title {
  width: 300px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  color: white;
  font-size: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
